a {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

a:hover {
  color: rgb(168, 167, 167);
}

.btn a {
  padding: 8px 3px;
}

@media (max-width: 768px) {
  .next,
  .prev {
    display: none;
  }
}
