.cardBorder {
  border: 2px solid #0b5ed7;
  border-radius: 10px 10px 0 0;
}

.flexImage {
  display: flex;
  flex-direction: column;
}

.imagem {
  border-radius: 10px 10px 0 0;
}

.textDecoration {
  text-decoration: none;
}

.badge {
  top: 10px;
  right: 20px;
  font-size: 17px;
}

.Alive {
  background-color: green;
}

.unknown {
  background-color: rgb(135, 136, 135);
}

.Dead {
  background-color: rgb(203, 32, 2);
}
