* {
  background-color: rgb(228, 228, 228);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.ubuntu {
  font-family: "Ubuntu";
}

.title-weight {
  font-weight: 600;
}

/* .title {
  text-align: center;
  margin-top: 2rem;
} */
